/* .navbar {
    padding: .5rem 20rem;
}
.fixed-top {
    position: relative;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 756px;
}

h1 {
    margin: 2rem 0;
}

.user_profile_menu .nav-link {
    padding: 0rem 1rem;
}

.user_profile_menu a svg {
    width: 2rem;
    height: 2rem;
}

.btn-bd-download {
    color: #777;
    border: 2px solid #777;
}
.btn-bd-download:hover {
    color: #ccc;
    border: 2px solid #ccc;
}
.bd-navbar, .navbar-nav-svg {
    width: 1rem !important;
    height: 1rem !important;
}
main {
    margin-top: 5rem;
}

.logo_style {
    color: #ffdd36;
}

.blockLabels .ctrlHolder {
    padding: 0 0 5px 20px;
}

.blockLabels .buttonHolder {
    padding-top: 20px;
}

.img-thumbnail {
    border-radius: 0.7rem;
    margin-bottom: 0.7rem;
}

.list-group-item, .list-group-item.disabled, .list-group-item:disabled {
    background-color: #f3f3f3;
}

.list-group-item:first-child {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}
@media (min-width: 1200px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 960px;
    }

}

